*{
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

nav{
    display: flex;
    flex-flow: row-reverse;
}

nav > ul {
    margin: 2em;
    display: flex;
    align-items: center;
}

nav > ul > li > a {
    color: #000;
    text-decoration: none;
    padding-left: 2em;
}
nav img {
    height: 1.5em;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 15%;
}

.search__area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__area > img {
    max-width: 350px;
}

.section > form > img {
    box-sizing: content-box;
    padding: 0.5em;
}

form {
    display: flex;
    margin-top: 1.5em;
    box-sizing: content-box;
    border-radius: 50px;
    -webkit-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 21px -9px rgba(0,0,0,0.1);
}
form:active {
    -webkit-box-shadow: 0px 15px 30px -9px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 15px 30px -9px rgba(0,0,0,0.15);
    box-shadow: 0px 15px 30px -9px rgba(0,0,0,0.15);
}

form > input {
    background-color: transparent;
    font-size: 1.2em;
    box-sizing: content-box;
    width:400px;
    padding: 0.7em 0;
    outline: 0;
    border: 0;
}

.searchbar > button {
    background-color: transparent;
    border: none;
    padding: 0 1em;
}

.frequently__used {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.frequently__used--icon {
    display: flex;
    justify-content: center;
    height: 75px;
    width: 75px;
    margin: 0.2 0.4em;
}

.frequently__used--icon > a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.frequently__used--icon img {
    height: 50px;
    border-radius: 50em;
}

.frequently__used--icon a {
    color: #000;
    text-decoration: none;
}

h2 {
    font-weight: 300;
    font-size: 0.6em;
}


/* media queriess */


@media screen and (max-width: 600px) {
    nav > ul > li:nth-child(1), nav > ul > li:nth-child(2) {
        display: none;
    }
    .search__area > img {
        width: 250px;
    }
    form > input {
        width: 300px;
    }
    .frequently__used {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .frequently__used--icon img {
        height: 40px;
    }
  
}
@media screen and (max-width: 400px) {
    nav > ul > li:nth-child(1), nav > ul > li:nth-child(2) {
        display: none;
    }
    .search__area > img {
        width: 200px;
    }
    form > input {
        width: 200px;
        font-size: 0.8em;
    }
    .frequently__used {
    grid-template-columns: 1fr 1fr 1fr;
    }
    .frequently__used--icon img {
        height: 30px;
    }
}
@media screen and (max-width: 300px) {
    nav > ul > li:nth-child(1), nav > ul > li:nth-child(2) {
        display: none;
    }
    .search__area > img {
        width: 150px;
    }
    form > input {
        width: 150px;
        font-size: 0.6em;
    }
    .frequently__used {
    grid-template-columns: 1fr 1fr 1fr;
    }
    .frequently__used--icon img {
        height: 25px;
    }
}